@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  --text-6xl: 72px;
  --text-3xl: 48px;
  --text-xl: 24px;
  --text-lg: 20px;
  --text-base: 16px;
  --text-sm: 14px;
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-regular: 400;
  --background: rgba(255, 255, 255, 1.00);
  --foreground: rgba(30, 30, 30, 1.00);
  --card: rgba(255, 255, 255, 1.00);
  --card-foreground: rgba(30, 30, 30, 1.00);
  --popover: rgba(255, 255, 255, 1.00);
  --popover-foreground: rgba(0, 0, 0, 1.00);
  --primary: rgba(44, 44, 44, 1.00);
  --primary-foreground: rgba(245, 245, 245, 1.00);
  --secondary: rgba(227, 227, 227, 1.00);
  --secondary-foreground: rgba(30, 30, 30, 1.00);
  --muted: rgba(217, 217, 217, 1.00);
  --muted-foreground: rgba(179, 179, 179, 1.00);
  --accent: rgba(245, 245, 245, 1.00);
  --accent-foreground: rgba(30, 30, 30, 1.00);
  --destructive: rgba(236, 34, 31, 1.00);
  --destructive-foreground: rgba(254, 233, 231, 1.00);
  --border: rgba(217, 217, 217, 1.00);
  --input: rgba(255, 255, 255, 1.00);
  --input-background: rgba(255, 255, 255, 1.00);
  --ring: rgba(44, 44, 44, 1.00);
  --elevation-sm: 0px 1px 4px 0px rgba(12, 12, 13, 0.1), 0px 1px 4px 0px rgba(12, 12, 13, 0.05);
  --chart-1: rgba(44, 44, 44, 1.00);
  --chart-2: rgba(117, 117, 117, 1.00);
  --chart-3: rgba(179, 179, 179, 1.00);
  --chart-4: rgba(217, 217, 217, 1.00);
  --chart-5: rgba(245, 245, 245, 1.00);
  --radius: 8px;
  --sidebar: rgba(255, 255, 255, 1.00);
  --sidebar-foreground: rgba(30, 30, 30, 1.00);
  --sidebar-primary: rgba(44, 44, 44, 1.00);
  --sidebar-primary-foreground: rgba(245, 245, 245, 1.00);
  --sidebar-accent: rgba(245, 245, 245, 1.00);
  --sidebar-accent-foreground: rgba(30, 30, 30, 1.00);
  --sidebar-border: rgba(217, 217, 217, 1.00);
  --sidebar-ring: rgba(44, 44, 44, 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
}

@layer base {
  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
    h1 {
      font-family: 'Inter', sans-serif;
      font-size: var(--text-6xl);
      font-weight: var(--font-weight-bold);
      line-height: 1.5;
    }

    h2 {
      font-family: 'Inter', sans-serif;
      font-size: var(--text-3xl);
      font-weight: var(--font-weight-bold);
      line-height: 1.5;
    }

    h3 {
      font-family: 'Inter', sans-serif;
      font-size: var(--text-xl);
      font-weight: var(--font-weight-semi-bold);
      line-height: 1.5;
    }

    h4 {
      font-family: 'Inter', sans-serif;
      font-size: var(--text-lg);
      font-weight: var(--font-weight-regular);
      line-height: 1.5;
    }

    p {
      font-family: 'Inter', sans-serif;
      font-size: var(--text-base);
      font-weight: var(--font-weight-regular);
      line-height: 1.5;
    }

    label {
      font-family: 'Inter', sans-serif;
      font-size: var(--text-sm);
      font-weight: var(--font-weight-regular);
      line-height: 1.5;
    }

    button {
      font-family: 'Inter', sans-serif;
      font-size: var(--text-base);
      font-weight: var(--font-weight-regular);
      line-height: 1.5;
    }

    input {
      font-family: 'Inter', sans-serif;
      font-size: var(--text-base);
      font-weight: var(--font-weight-regular);
      line-height: 1.5;
    }
  }
}
